.Watch {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--palette-primaryDark-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &::before {
        background: linear-gradient(
            90deg,
            color-mix(in srgb, var(--palette-primaryDark-900), transparent 0%) 0%,
            color-mix(in srgb, var(--palette-primaryDark-900), transparent 100%) 100%
        );
    }

    &::after {
        background: linear-gradient(
            0deg,
            color-mix(in srgb, var(--palette-primaryDark-900), transparent 0%) 0%,
            color-mix(in srgb, var(--palette-primaryDark-900), transparent 100%) 100%
        );
    }

    & > * {
        z-index: 100;
    }

    &__head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 16px;
    }

    &__channel-info {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__spinner .MuiCircularProgress-svg {
        overflow: visible;
    }
    &__spinner .MuiCircularProgress-circle {
        filter: drop-shadow(0 0 6px rgb(var(--palette-primary-lightChannel) / 0.25)) drop-shadow(0 0 2px rgb(var(--palette-primary-lightChannel) / 0.5));
    }
}

[data-mui-color-scheme="light"] {
    .Watch .Logo {
        filter: invert(1) hue-rotate(180deg);
    }
}