.EpisodeListing {
    width: 300px;

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__still {
        background-color: transparent;
        display: flex;
        overflow: hidden;
        transform-origin: center center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
        margin-bottom: 4px;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}