.Header {
    background-color: var(--palette-background-paper);
    box-shadow: 0 0 16px 1px #10141888;
    padding: 0 32px;
    position: sticky;
    top: 0;
    z-index: 500;

    &__link {
        // Unfortunately have to use !important to
        // override the default tab stylings
        min-height: 64px !important;
        max-height: 64px !important;
    }
}

[data-mui-color-scheme="light"] .Header {
    box-shadow: 0 0 16px 1px #10141833;
}