.ContinueWatchingListing {
    width: 154px;

    &__link {
        display: flex;
    }

    &__poster {
        background-color: transparent;
        display: flex;
        overflow: hidden;
        transform-origin: center center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
        margin-bottom: 4px !important;
        cursor: pointer;
        position: relative;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__menu-wrapper {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}