.ScrollableList {
    position: relative;
    mask: linear-gradient(to right, transparent, black 32px, black calc(100% - 32px), transparent);

    &__wrapper {
        overflow-x: scroll;
        padding: 16px 32px;
        max-width: calc(100%);
    }

    &__list {
        display: flex;
        min-width: max-content;
        gap: 16px;
    }
}
